body{padding:0;margin:0;}
h1{font-family: 'Doppio One', sans-serif;}
#main{width:960px;margin:0 auto;}
button.demo{width:300px;margin-right:10px;}
textarea{width:960px;height:200px;font-family:Consolas,Courier;}
#history{width:100%;border:1px solid #808080;height:200px;font-family:Consolas,Courier;overflow:hidden;}
 @media only screen  and (max-width:960px){
#main,textarea{width:360px;}
    }